@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Balance" />
            <input type="hidden" asp-for="IdentityUserId" />
            <input type="hidden" asp-for="PickUpId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pickup.Day" class="control-label"></label>
                
                <select asp-for="Pickup.Day" name="Day">
                    <option asp-for="Pickup.Day" value="Monday" class="form-control">Monday</option>
                    <option asp-for="Pickup.Day" value="Tuesday" class="form-control">Tuesday</option>
                    <option asp-for="Pickup.Day" value="Wednesday" class="form-control">Wednesday</option>
                    <option asp-for="Pickup.Day" value="Thursday" class="form-control">Thursday</option>
                    <option asp-for="Pickup.Day" value="Friday" class="form-control">Friday</option>
                    <option asp-for="Pickup.Day" value="Saturday" class="form-control">Saturday</option>
                    <option asp-for="Pickup.Day" value="Sunday" class="form-control">Sunday</option>
                </select>
                <span asp-validation-for="Pickup.Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OneTime" class="control-label"></label>
                <input asp-for="OneTime" class="form-control" />
                <span asp-validation-for="OneTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
